* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header  {
    font-family: monospace;
    background: #fa5252;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-links, .right-links {
    display: flex;
    align-items: center;
}

.left-links ul, .right-links ul {
    display: flex;
    list-style: none;
}

.left-links li, .right-links li {
    margin: 0 10px;
}

.logo {
    font-size: 48px;
    font-weight: 900;
    color: #82c91e;
    background: #ffeaa7; /* Color de fondo para el logo */
    padding: 4px 32px;
    border: 2px solid black;
}

a {
    font-size: 22px;
    background: #81ecec; /* Color de fondo para cada número */
    padding: 8px;
    text-decoration: none;
    border: 2px solid black;
}