@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
    background: white;
    max-width: 480px; /* Cambia a max-width para hacerlo más responsivo */
    width: 100%; /* Asegura que el modal ocupe todo el ancho disponible */
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    padding: 20px; /* Añade padding para dar espacio al contenido */
    box-sizing: border-box; /* Asegura que el padding y el borde no aumenten el tamaño total del modal */
    transition: all 0.3s ease; /* Añade una transición suave a todos los cambios de propiedad */
  }
  

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

button {
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}

@keyframes modalFadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
  }