main {
    /* Utiliza un gradiente como fondo */
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    /* Añade una sombra para dar profundidad */
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
    /* Centra el contenido */
    width: 100vw;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Añade una transición suave para los cambios de color */
    transition: background 0.5s ease;
    /* Añade un borde redondeado */
    border-radius: 15px;
    /* Añade una animación de entrada */
    animation: fadeIn 1s ease-in;
}
main:hover {
    /* Cambia el color de fondo al pasar el mouse */
    background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
    /* Añade una transformación al pasar el mouse */
    transform: scale(1.05);
    /* Añade una transición suave para la transformación */
    transition: transform 0.5s ease;
}

#colorButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 12px;
}

#colorButton:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}