
.characterContainer {
    display: flex;
    overflow-x: auto; /* Agrega scroll horizontal si el contenido es demasiado ancho */
  }
  
  .character {
    flex: 0 0 auto; /* Evita que los elementos se expandan */
    margin-right: 20px; /* Espacio entre los elementos */
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .character h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .character p {
    margin: 5px 0;
  }
  
  .character img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }